#pc-wrap {
  .home-page {
    position: relative;
    width: 100%;
    height: auto;

    .info-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: var(--Header, #191919);
        /* heading product */
        font-family: "Chalkboard SE";
        ;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 45.6px */
      }

      p {
        color: var(--Header1, #2D2D2D);
        font-family: Comfortaa;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-top: 12px;

      }

      .p-below {
        color: var(--Header1, #4a4a4a);
        font-family: Comfortaa;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
    }

    .collection {
      display: flex;
      width: 100%;
      height: 520px;
      padding: 80px 0 50px 0;
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 60px;

      .container {
        .card-box {
          display: flex;
          position: relative;
          margin-top: 60px;

          .collection-card {
            width: 100%;
            height: 206px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 38px;

            .card {
              display: flex;
              width: 197px;
              flex-direction: column;
              align-items: center;
              gap: 32px;
              flex-shrink: 0;
              transition: all 0.3s ease;
              padding-bottom: 6px;

              img {
                width: 171.788px;
                height: 130.004px;
                flex-shrink: 0;
              }

              p {
                color: var(--Header1, #171717);
                /* Title */
                font-family: Comfortaa;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                /* 80% */
              }
            }

            .card:hover {
              transform: translateY(-5px);
              box-shadow: 0 0 20px rgba(226, 173, 75, 0.6),
                0 5px 10px rgba(0, 0, 0, 0.1);
            }

          }
        }

      }
    }


    .top-pick {
      display: flex;
      width: 100%;
      height: 1180px;
      padding: 50px 0 100px 0;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .container {
        .card-box {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          margin-top: 32px;
          justify-content: center;


          .card {
            width: 295px;
            height: 398px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            transition: transform 0.3s;
            cursor: pointer;
            padding: 10px;


            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .sale-badge {
              position: absolute;
              top: 20px;
              left: 20px;
              background-color: #f28b82;
              color: white;
              padding: 2px 8px;
              font-size: 12px;
              font-weight: bold;
              border-radius: 12px;
            }

            .icons {
              position: absolute;
              top: 20px;
              right: 20px;
              display: flex;
              gap: 8px;

              .icon-btn {
                background: none;
                border: none;
                cursor: pointer;
                padding: 4px;
                border-radius: 4px;
                transition: background-color 0.2s;
              }

              .icon {
                width: 24px;
                height: 24px;
                color: #7F7F7F;
                cursor: pointer;
              }
            }

            img {
              width: 100%;
              height: 295px;
              object-fit: contain;
              border-radius: 5px;
            }

            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding-left: 4px;
              position: relative;

              .title {
                font-size: 16px;
                font-weight: 500;
                margin: 10px 0 5px 0;
              }

              .price {
                font-size: 16px;
                font-weight: bold;
                color: #4caf50;

                .old-price {
                  text-decoration: line-through;
                  font-weight: normal;
                  color: #888;
                  margin-left: 8px;
                  font-size: 14px;
                }
              }

              .rating {
                margin-top: 5px;
                color: #fdd835;
              }

              .view {
                display: flex;
                position: absolute;
                top: 12px;
                right: 20px;
                color: #888;
                gap: 2px;
                align-items: center;

                span {
                  font-size: 12px
                }

                ;
              }

            }
          }


        }
      }
    }


    .video-frame {
      width: 100%;
      display: flex;
      position: relative;
      transform: perspective(0px);
      box-shadow: -3px 0px 20px 14px #34343480;

      .video-top {
        display: flex;
        flex-direction: row;
      }

      .video-bottom {
        display: flex;
        flex-direction: row;
      }

    }

    .popular-products {
      width: 100%;
      height: 700px;
      margin-top: 10px;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-top: 50px;

        .pagination-box {
          display: flex;
          flex-direction: row;
          align-items: center;

          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #000000;
          }

          .swiper-button-next {
            cursor: pointer;
          }

          .swiper-pagination {
            margin-bottom: 25px;
          }

          .swiper-button-prev {
            cursor: pointer;
            margin-left: 30px;
          }
        }


        .card-box {
          width: 100%;
          position: relative;

          .empty-list {
            width: 100%;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .product-swiper {
            width: 100%;
            height: 450px;

            .product-swiper-slide {
              display: flex;
              height: 100%;
              margin: 10px 0 0 10px;

            }
          }

          .card {
            margin-bottom: 50px;
            width: 295px;
            height: 398px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            transition: transform 0.3s;
            cursor: pointer;
            padding: 10px;


            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .sale-badge {
              position: absolute;
              top: 20px;
              left: 20px;
              background-color: #f28b82;
              color: white;
              padding: 2px 8px;
              font-size: 12px;
              font-weight: bold;
              border-radius: 12px;
            }

            .icons {
              position: absolute;
              top: 20px;
              right: 20px;
              display: flex;
              gap: 8px;

              .icon-btn {
                background: none;
                border: none;
                cursor: pointer;
                padding: 4px;
                border-radius: 4px;
                transition: background-color 0.2s;
              }

              .icon {
                width: 24px;
                height: 24px;
                color: #7F7F7F;
                cursor: pointer;
              }
            }

            img {
              width: 100%;
              height: 295px;
              object-fit: contain;
              border-radius: 5px;
            }

            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding-left: 4px;

              .title {
                font-size: 16px;
                font-weight: 500;
                margin: 10px 0 5px 0;
              }

              .price {
                font-size: 16px;
                font-weight: bold;
                color: #4caf50;

                .old-price {
                  text-decoration: line-through;
                  font-weight: normal;
                  color: #888;
                  margin-left: 8px;
                  font-size: 14px;
                }
              }

              .rating {
                margin-top: 5px;
                color: #fdd835;
              }
            }
          }
        }
      }
    }




    .recent-blog {
      width: 100%;
      height: 600px;

      .container {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;

        .card-box {
          width: 100%;
          position: relative;
          padding: 50px 0;


          .empty-list {
            width: 100%;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .blog-swiper {
            width: 100%;
            height: 280px;

            .blog-swiper-slide {
              display: flex;
              height: 100%;
              margin: 10px 0 0 10px;
            }
          }

          .card {
            background-color: #FAEFEF;
            width: 400px;
            height: 216px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            transition: transform 0.3s;
            padding-left: 20px;
            padding-bottom: 10px;
            cursor: pointer;
            gap: 20px;


            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }

            .image1 {
              left: 0;
              position: absolute;
              bottom: 60px;
            }

            .image2 {
              right: 85px;
              top: 18px;
              position: absolute;

            }

            .image3 {
              right: 0;
              bottom: 50px;
              position: absolute;

            }


            .rating {
              margin-top: 5px;
              color: #fdd835;
            }

            .blog-info {
              color: #4A4748;
              font-family: Comfortaa;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            }

            .writer-info {
              width: 100%;
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;

              img {
                width: 40px;
                height: 40px;
                border-radius: 40px;
              }

              span {
                color: #4A4748;
                font-family: Comfortaa;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                /* 19.2px */
              }

            }


          }

        }



        .blog-pagination-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;

          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #000000;
          }

          .swiper-blog-next {
            cursor: pointer;

            img {
              width: 35px;
              height: 35px;
            }
          }

          .swiper-blog-prev {
            cursor: pointer;

            img {
              width: 30px;
              height: 30px;
            }

          }
        }

      }

    }










  }
}